<?xml version="1.0"?>
<launch>

	<!-- Datum as latitude, longitude [decimal deg.], yaw [ENU, degrees] -->
	<arg name="datum" default="[36.6137, -121.912, 0.0]"/>

	<!-- For setting debug level to debug -->
	<!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find geonav_transform)/config/custom_rosconsole.conf"/> -->

	<node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
		<rosparam param="datum" subst_value="True">$(arg datum)</rosparam>
		<remap from="/GPSFix" to="/gps/fix"/>
	</node>
  
</launch>
